/**
 * Primary Application Stylesheet
 *
 * @langversion Stylus
 *
 * @author Christopher Pappas
 * @since  Month 00, 2012
 */

// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
// No more vendor prefixes. http://visionmedia.github.com/nib/
@import 'nib'

// variables
$base-font-size   = 28px
$base-line-height = 32px
$base-font-family = "Reader Bold", Arial, 'Helvetica Neue', Helvetica, sans-serif

*
  box-sizing: border-box

html
  -webkit-text-size-adjust: 100%
  font-size: $base-font-size
  line-height: $base-line-height
  font-family: $base-font-family
  font-weight: bold
  -webkit-font-smoothing: antialiased
  color: rgba(255, 255, 255, 0.90)
  background: #709a91

body
  padding: 5% 7%
  max-width: 768px

.group
  clearfix()

p
  line-height: $base-line-height * 1.35
  margin-bottom: 30px
  margin-top: 0px

h2
  font-size: $base-font-size
  font-weight: normal
  border-left: 4px solid rgba(255, 255, 255, 0.20)
  display: inline-block
  margin-bottom: 0px
  padding-left: 10px
  color: rgba(255, 255, 255, 0.90)

a
  color: rgba(255, 255, 255, 0.90)
  text-decoration: none
  font-size: 14px

ul
  padding-left: 0px
  list-style: none
  margin-bottom: $base-line-height * 1.5

  li
    margin-right: 7px
    display: inline-block
